<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/login.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>
    <style>
        body {
            margin: 20px 50px;
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            background-repeat: none;


        }
    </style>
</head>

<body>
    <!-- <h1>Dashboard</h1>
    <form action="/logout/" method="post">
        <button type="submit">Logout</button>
    </form>
    <ul>
        <h2>Admin access:</h2>
        <li><a href="/login">Login</a></li>
        <li><a href="/newsletters">Newsletters</a></li>
        <li><a href="/subscribers">Subscribers</a></li>
        <h2>Public access:</h2>
        <li><a href="/subscriptions">Subscriptions</a></li>
    </ul> -->
    <div id="wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 fs-1 fw-bolder text-dark">Dashboard</h1>
                <form action="/logout/" method="post" class="d-mb-inline-block d-sm-inline-block">
                    <button type="submit"
                        class="d-mb-inline-block d-sm-inline-block btn btn-sm btn-dark shadow-sm">Logout</button>
                </form>

            </div>

            <div class="row no-gutters">
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-primary shadow py-0">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs fw-bold fs-5 text-dark text-uppercase mb-0 align-items-center">
                                        Admin Access</div>
                                    <!-- <a href="/login"
                                        class=" d-xs-block d-mb-block d-sm-block btn btn-sm btn-outline-dark shadow-sm mt-3 w-50">
                                        Login</a> -->
                                    <a href="/newsletters"
                                        class=" d-xs-block d-mb-block d-sm-block btn btn-sm btn-outline-dark shadow-sm mt-3 mb-2 w-50">
                                        Newsletters</a>
                                    <a href="/subscribers"
                                        class=" d-xs-block d-mb-block d-sm-block btn btn-sm btn-outline-dark shadow-sm mt-3 mb-2 w-50">
                                        Subscribers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 mb-4">
                    <div class="card border-left-primary shadow py-0">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div
                                        class="text-xs fw-bold fs-5 font-weight-bold text-dark text-uppercase mb-0 align-items-center">
                                        Public Access</div>
                                    <a href="/subscriptions"
                                        class="d-mb-block d-sm-block btn btn-sm btn-outline-dark shadow-sm mt-3 w-50">
                                        Subscriptions</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</body>

</html>