<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <ul>
        <h2>Admin access:</h2>
        <li><a href="/login">Login</a></li>
        <li><a href="/newsletters">Newsletters</a></li>
        <li><a href="/subscribers">Subscribers</a></li>
        <h2>Public access:</h2>
        <li><a href="/subscriptions">Subscriptions</a></li>
    </ul>
</body>

</html>