<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit newsletter</title>
</head>

<body>
    <h1>Edit newsletter</h1>
    <a href="/">Home</a>
    <a href=<%=`/newsletters/${newsletter._id}`%>>Back</a>
    <hr>
    <span>
        <%=newsletter.subject%>
    </span>
    <br>
    <br>
    <br>
    <form method="POST">
        <label for="subject">Subject:</label>
        <input type="text" name="subject" placeholder="Subject" value="<%=newsletter.subject%>" required>
        <br>
        <label for="content">Content:</label>
        <textarea rows="10" name="content" placeholder="Content" required><%=newsletter.content%></textarea>
        <br>
        <button type="submit">Edit</button>
    </form>
</body>

</html>