<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import newsletter</title>
</head>

<body>
    <h1>Import newsletter</h1>
    <a href="/">Home</a>
    <a href="/newsletters">Back</a>
    <hr>

    <form method="POST" encType="multipart/form-data">
        <label for="subject">Subject:</label>
        <input type="text" name="subject" placeholder="Subject" required>
        <br>
        <input type="file" accept=".html" name="newsletter" required>
        <button type="submit">Import newsletter</button>
    </form>
</body>

</html>