<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New newsletter</title>
</head>

<body>
    <h1>New newsletter</h1>
    <a href="/">Home</a>
    <a href="/newsletters">Back</a>
    <hr>

    <form method="POST">
        <label for="subject">Subject:</label>
        <input type="text" name="subject" placeholder="Subject" required>
        <br>
        <label for="content">Content:</label>
        <textarea rows="10" name="content" placeholder="Content" required></textarea>
        <br>
        <button type="submit">Add</button>
    </form>
</body>

</html>