<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import subscribers</title>
</head>

<body>
    <h1>Import subscribers</h1>
    <a href="/">Home</a>
    <a href="/subscribers">Back</a>
    <hr>

    <form method="POST" encType="multipart/form-data">
        <input type="file" accept=".xlsx" name="emails" required>
        <button type="submit">Import subscribers</button>
    </form>
</body>

</html>