<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New subscriber</title>
</head>

<body>
    <h1>New subscriber</h1>
    <a href="/">Home</a>
    <a href="/subscribers">Back</a>
    <hr>

    <form method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Email" required>
        <br>
        <button type="submit">Add</button>
    </form>
</body>

</html>