<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/login.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            margin: 20px 50px;
            background-color: #8EC5FC;
            background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
            background-repeat: none;


        }
    </style>
    <title>Subscriptions</title>
</head>

<body>
    <h1 class="fs-1 fw-bolder">Subscriptions</h1>
    <div class="card border-left-primary shadow py-0 w-50">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">                   
                    <a href="/subscriptions/subscribe"
                        class=" d-xs-block d-mb-block d-sm-block btn btn-sm btn-outline-dark shadow-sm mt-3 w-50">
                        Subscribe</a>
                    <a href="/subscriptions/unsubscribe"
                        class=" d-xs-block d-mb-block d-sm-block btn btn-sm btn-outline-dark shadow-sm mt-3 mb-3 w-50">
                        Unsubscribe</a>
                
                </div>
            </div>
        </div>
    </div>    
</body>

</html>