<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribe</title>
</head>

<>
    <p>We hate to see you go...🥺</p>
    <form method="POST">
        <label for="email">Email:</label>
        <input type="text" name="email" placeholder="Email" required>
        <br>
        <button type="submit">Unsubscribe</button>
    </form>

    <p>Unsubscribed by mistake? <a href="/subscriptions/subscribe">Subscribe</a></p>
    </body>

</html>